* {
    margin: 0;
    box-sizing: border-box;
}


//字體大小
h2 {
    font-size: 85px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 21px;
}

p {
    font-size: 19px;
}

@media (max-width: 1139px) {
    h2 {
        font-size: 46px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    h4 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 19px !important;
    }

    p {
        font-size: 16px !important;
    }
}

@media (max-width: 767px) {

    h2 {
        font-size: 36px !important;
    }

    h3 {
        font-size: 22px !important;
    }

    h4 {
        font-size: 18px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }
}

main {
    overflow: hidden;
}

.april_banner {
    width: 100%; 
    margin-bottom: 200px;
  

    @media (max-width: 1139px) {
        margin-bottom: 100px;
    }

    @media (max-width: 767px) {
        margin-bottom: 60px;
    }

    .april_banner_video {
        #myVideo {
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }

    }

    .april_banner_text {
        width: 100%;
        position: relative;

        .april_banner_text_subtitle {
            -moz-transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            -o-transform: rotate(-20deg);
            -ms-transform: rotate(-20deg);
            transform: rotate(-20deg);
            position: absolute;
            top: 445px;
            left: 590px;

            @media (max-width: 1139px) {
                position: absolute;
                top: 240px;
                left: 215px;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 230px;
                left: 155px;
            }


        }

        .april_banner_text_title {
            align-items: center;
            position: absolute;
            top: 440px;
            left: 320px;

            @media (max-width: 1139px) {
                position: absolute;
                top: 240px;
                left: 20px;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 230px;
                left: 0px;
            }

            h2 {
                text-align-last: justify;
                color: white;
                text-shadow: 0px 0px 8px #fff, 0px 0px 42px #f72, 0px 0px 72px #f84, 0px 0px 150px #fa5;
                // text-shadow: 1px 2px 3px rgba(67,8,7,0.8); 
            }

        }


    }

}

.april_woods {
    width: 100%;
    margin-bottom: 200px;
    position: relative;

    @media (max-width: 1139px) {
        margin-bottom: 100px;
    }

    @media (max-width: 767px) {
        margin-bottom: 60px;
    }

    .april_woods_middle {
        height: 730px;
        background-color: grey;

        @media (max-width: 1139px) {
            height: 485px;
            width: 360px;
        }

        @media (max-width: 767px) {
            height: 365px;
            width: 270px;
        }

    }

    .april_woods_left {
        height: 422px;
        background-color: orange;
        position: absolute;
        top: 160px;
        left: 0px;

        @media (max-width: 1139px) {
            height: 260px;
            width: 260px;
            position: absolute;
            top: 120px;
            left: 0px;
        }

        @media (max-width: 767px) {
            height: 190px;
            position: absolute;
            top: 80px;
            left: 20px;
        }
    }


    .april_woods_square {
        width: 106px;
        height: 32px;
        background-color: orange;
        position: absolute;
        top: 275px;
        right: -20px;

        @media (max-width: 1139px) {

            position: absolute;
            top: 240px;
            right: 15px;
        }

        @media (max-width: 767px) {
            width: 55px;
            height: 20px;
            position: absolute;
            top: 160px;
            right: 55px;
        }
    }

    .april_woods_right {
        .april_woods_right_title {
            width: 395px;
            position: absolute;
            top: 100px;
            right: -40px;

            @media (max-width: 1139px) {
                position: absolute;
                top: 150px;
                right: -160px;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 90px;
                right: -170px;
            }
        }


        .april_woods_right_content {
            width: 270px;
            position: absolute;
            bottom: 200px;
            right: 0;

            @media (max-width: 1139px) {
                width: 180px;
                position: absolute;
                bottom: 55px;
                right: 50px;

            }

            @media (max-width: 767px) {
                width: 130px;
                position: absolute;
                bottom: 50px;
                right: 90px;


            }

        }

    }
}

.april_2block_top {
    width: 100%;
    height: 895px;

    @media (max-width: 1139px) {
        height: 360px;
    }

    @media (max-width: 767px) {
        height: 270px;
    }

    .april_2block_top_left {
        background-color: grey;

    }

    .april_2block_top_right {
        background-color: orange;

    }
}

.april_700m {
    width: 100%;
    height: 100vh;
    background-color: rgb(207, 188, 188);
    margin-bottom: 300px;

    @media (max-width: 1139px) {
        height: 450px;
        margin-bottom: 150px;
    }

    @media (max-width: 767px) {
        height: 400px;
        margin-bottom: 150px;
    }

    .april_700m_box {
        position: relative;
        width: 100%;

        .april_700m_squareleft {
            background-color: red;
            height: 880px;
            width: 755px;
            position: absolute;
            top: -320px;
            left: -405px;

            @media (max-width: 1139px) {
                height: 375px;
                width: 270px;
                position: absolute;
                top: -100px;
                left: -25px;

            }

            @media (max-width: 767px) {
                height: 335px;
                width: 198px;
                position: absolute;
                top: -45px;
                left: 0px;
            }
        }

        .april_700m_mainimg {
            justify-content: center;
            align-content: center;

            .april_700m_squarerighttop {
                background-color: grey;
                height: 378px;
                width: 378px;
                position: absolute;
                bottom: 300px;
                right: -150px;

                @media (max-width: 1139px) {
                    height: 175px;
                    width: 175px;
                    position: absolute;
                    top: -310px;
                    right: 80px;

                }

                @media (max-width: 767px) {
                    height: 130px;
                    width: 130px;
                    position: absolute;
                    top: -260px;
                    right: 80px;
                }
            }

            .april_700m_squarerightbottomAleft {
                background-color: rgb(40, 148, 98);
                height: 350px;
                position: absolute;
                top: 280px;
                right: 0px;

                @media (max-width: 1139px) {
                    height: 120px;
                    width: 125px;
                    position: absolute;
                    top: 180px;
                    right: 40px;
                }

                @media (max-width: 767px) {
                    height: 90px;
                    width: 90px;
                    position: absolute;
                    top: 120px;
                    right: 50px;
                }
            }

            .april_700m_squarerightbottomBright {
                background-color: rgb(187, 125, 228);
                height: 300px;
                // width: 255px;
                position: absolute;
                top: 70px;
                right: -185px;

                @media (max-width: 1139px) {
                    height: 100px;
                    width: 85px;
                    position: absolute;
                    top: 100px;
                    right: -25px;
                }

                @media (max-width: 767px) {
                    height: 75px;
                    width: 65px;
                    position: absolute;
                    top: 60px;
                    right: 0px;
                }
            }

            .april_700m_content {
                .april_700m_content_title {
                    position: absolute;
                    top: -70px;
                    left: 240px;

                    @media (max-width: 1139px) {
                        position: absolute;
                        top: -130px;
                        left: 160px;
                    }

                    @media (max-width: 767px) {
                        position: absolute;
                        top: -70px;
                        left: 140px;
                    }
                }

                .april_700m_content_down {
                    position: absolute;
                    top: 10px;
                    left: 430px;

                    @media (max-width: 1139px) {
                        position: absolute;
                        top: -75px;
                        left: 260px;

                    }

                    @media (max-width: 767px) {
                        position: absolute;
                        top: -25px;
                        left: 220px;
                    }
                }
            }
        }
    }
}





.april_may {
    width: 100%;
    margin-bottom: 200px;
    position: relative;

    @media (max-width: 1139px) {
        margin-bottom: 100px;
    }

    @media (max-width: 767px) {
        margin-bottom: 60px;
    }

    .april_may_title {
        margin-bottom: 100px;

        @media (max-width: 1139px) {
            margin-bottom: 60px;
        }

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    .april_may_content {

        .april_may_middle {
            height: 730px;
            background-color: grey;

            @media (max-width: 1139px) {
                height: 485px;
            }

            @media (max-width: 767px) {
                height: 365px;
            }

        }

        .april_may_left {
            height: 422px;
            background-color: orange;
            position: absolute;
            top: 300px;
            left: 100px;

            @media (max-width: 1139px) {
                height: 260px;
                width: 240px;
                position: absolute;
                top: 250px;
                left: 0px;
            }

            @media (max-width: 767px) {
                height: 180px;
                width: 180px;
                position: absolute;
                top: 180px;
                left: 30px;
            }
        }

        .april_may_left_content {
            width: 270px;
            position: absolute;
            bottom: -20px;
            left: 100px;

            @media (max-width: 1139px) {
                height: 255px;
                width: 255px;
                position: absolute;
                bottom: -200px;
                left: 0px;
            }

            @media (max-width: 767px) {
                height: 190px;
                width: 190px;
                position: absolute;
                bottom: -150px;
                left: 30px;
            }
        }

    }

    .april_may_right {
        width: 374px;
        height: 374px;
        background-color: orange;
        position: absolute;
        top: 170px;
        right: 0px;

        @media (max-width: 1139px) {
            width: 240px;
            height: 240px;
            position: absolute;
            top: 170px;
            right: 0px;
        }

        @media (max-width: 767px) {
            width: 180px;
            height: 180px;
            position: absolute;
            top: 113px;
            right: 40px;
        }
    }

    .april_may_right_content {
        width: 374px;
        position: absolute;
        bottom: 50px;
        right: 0;

        @media (max-width: 1139px) {
            position: absolute;
            bottom: 45px;
            right: -132px;
        }

        @media (max-width: 767px) {
            position: absolute;
            bottom: 20px;
            right: -155px;

        }


    }

}

.april_2block_bottum {
    width: 100%;
    height: 895px;

    @media (max-width: 1139px) {
        height: 360px;
    }

    @media (max-width: 767px) {
        height: 270px;
    }

    .april_2block_bottum_left {
        background-color: grey;
    }

    .april_2block_bottum_right {
        background-color: orange;
    }
}

.april_stay {
    height: 370px;

    @media (max-width: 1139px) {
        height: 150px;
    }

    @media (max-width: 767px) {
        height: 100px;
    }
}

.april_party {
    background-color: orange;
    height: 880px;

    @media (max-width: 1139px) {
        height: 350px;
    }

    @media (max-width: 767px) {
        height: 260px;
    }
}

.april_snow {
    background-color: grey;
    height: 600px;
    padding-top: 180px;

    @media (max-width: 1139px) {
        height: 250px;
        padding: 70px 0;
    }

    @media (max-width: 767px) {
        height: 290px;
    }

    .april_snow_content {
        @media (max-width: 767px) {
            text-align: center;
        }

    }
}



.footer {
    background-color: grey;
    height: 150px;

    @media (max-width: 1139px) {
        height: 100px;
    }

    @media (max-width: 767px) {
        height: 50px;
    }
}